html,body{
    background-color: #f7f8f8 !important;
}
/*---------------页眉---------------*/
.am-topbar .am-nav.am-nav>li>a:hover, .am-topbar .am-nav.am-nav>li>a:focus {
    background: none !important;
}
.am-topbar{

    background-color: #fff;
    background-clip: padding-box;

    -webkit-box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);
    box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);

}
/*大屏幕时菜单展示样式*/
@media only screen and (min-width: 1025px) {
    .am-topbar .am-dropdown:hover>.am-dropdown-content{
        background-color: rgba(0,0,0,.618);
        display: block !important;
        animation-duration:0s !important;
        -webkit-animation-duration: 0s !important;
    }
    .am-topbar .am-dropdown:hover>.am-dropdown-content a{
        color: #fff;
    }
    .am-topbar .am-dropdown:hover>.am-dropdown-content a:hover, .am-topbar .am-dropdown:hover>.am-dropdown-content a:focus{
        background-color: rgba(52,59,78,.618);
    }
    /*.am-topbar .am-dropdown-toggle{*/
    /*color: #eee !important;*/
    /*}*/

    .am-topbar-nav>li.am-active>a{
        color: #666 !important;
        background: none !important;
    }
    .am-topbar-nav>li.am-active>a:hover{
        color: #666 !important;
        background: none !important;
    }
    .am-topbar .am-active>.am-dropdown-content{
        display: none;
    }
    .am-topbar .am-dropdown-content{
        padding: 0px;
        font-size: 14px;
        position: absolute;
        z-index: 1000;
        top: 99%;
        display: none;
        min-width: 160px;
        margin: 1px 0 0;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        background-color: #fff;
        background-clip: padding-box;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .am-topbar .am-dropdown .am-dropdown-content:before, .am-topbar .am-dropdown .am-dropdown-content:after{
        border: none;
    }
    .pt-view-desc-question, .pt-view-desc .am-u-lg-3{
        height: 25px;
        line-height: 35px;
    }
}
/*小屏幕菜单展示样式*/
@media only screen and (max-width: 640px){
    /*UL层的背景色*/
    .am-topbar-collapse{
        background: #343131;
        padding: 0px 0px;
    }

    /*隐藏展示效果*/
    .am-topbar .am-dropdown:hover>.am-dropdown-content, .am-topbar .am-dropdown:focus>.am-dropdown-content{
        display: block !important;
        position: relative;
        float: none;
        -webkit-animation-duration: .0s;
        animation-duration: .0s;
        padding: 0;
        margin: 0;
        background: #e3e3e3;
    }

    .am-topbar .am-active>.am-dropdown-content{
        display: none;
    }
    /*隐藏展示效果*/

    /*第一层*/
    .am-topbar .am-nav{
        margin: 0;
    }
    .am-topbar .am-topbar-nav>li:first-child{
        border-top: 2px solid #343131;
    }
    .am-topbar .am-topbar-nav>li, .am-topbar .am-dropdown-content>li{
        margin-bottom: -1px;
        border: 1px solid #dedede;
        border-width: 1px 0;
        margin-top: -1px !important;
    }
    .am-topbar .am-topbar-nav>li:last-child{
        border-bottom: none !important;
    }
    .am-topbar .am-nav.am-nav>li>a{
        color: #b3b3b3 !important;
    }
    /*第一层LI*/

    /*选中状态的背景*/
    .am-topbar .am-dropdown:hover, .am-topbar .am-dropdown:focus{
        background: #fcfcfc;
    }
    .am-topbar .am-dropdown:hover>.am-dropdown-toggle, .am-topbar .am-dropdown:focus.am-dropdown-toggle{
        color: #404040 !important;
    }
    .am-topbar .am-dropdown-toggle{
        background: none !important;
    }
    /*选中状态的背景*/

    /*展开层样式*/
    .am-topbar .am-dropdown-content:before{
        display: none;
        padding: 0;
        border:none;
        margin-top: -1px !important;
    }
    .am-topbar .am-dropdown-content:after{
        display: none;
    }
    .am-topbar .am-dropdown-content>li{
        border-color: #cecece !important;
    }
    .am-topbar .am-dropdown-content>li a{
        padding-left: 36px;
        color: gray;
    }
    .am-topbar .am-dropdown-content>li a:hover, .am-topbar .am-dropdown-content>li a:focus{
        text-decoration: none;
        color: #262626 !important;
        background-color: #f5f5f5;
    }
    /*展开层样式*/

}
/*---------------内容---------------*/
#wrapper{
    min-height: 50rem;
}
/*---------------表格---------------*/
.am-remove-border tr th, .am-remove-border tr td{
    border: none !important;
}
.am-table-bordered{
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color: #FFFFFF;
}
.table-sort{
    width: 60px;
}
.am-table{
    color: #606266;
}
.am-table th {
    color: #909399;
    font-weight: 500;
}
.am-table-striped>tbody>tr:nth-child(odd)>td, .am-table-striped>tbody>tr:nth-child(odd)>th, .am-table-hover>tbody>tr:hover>td, .am-table-hover>tbody>tr:hover>th{
    background: #f5f7fa;
}
.am-table-bordered, .am-table-bordered tr th, .am-table-bordered tr td  {
    transition: background-color .25s ease;
    border-color: #ebeef5 !important;
    box-shadow:none;
}
/*---------------移除分页外边距---------------*/
.am-pagination>li>a, .am-pagination>li>span {
    margin-bottom: 0!important;
}

/*---------------圆角---------------*/
.am-radius, .am-selected-btn, .am-selected-content{
    border-radius: 4px !important;
}
/*---------------解决某些输入框圆角背景异常问题---------------*/
.pes_input_radius{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
@media only screen and (min-width: 641px) {
    .fix-input-width {
        display: inline !important;
        width: auto !important;
    }
}
/*---------------面板---------------*/
.am-panel{
    background-color: #fff;
    border-radius: 4px;
}
.am-panel-default {
    border-radius: 4px;
    border: 1px solid #ebeef5;
    /*background-color: #fff;*/
    color: #303133;
    transition: .3s;
}
.am-panel-striped:nth-child(odd)>.am-panel-hd{
    background: #fff !important;
}
.am-panel-hover:hover{
    box-shadow: 0 2px 12px 0 rgba(96, 125, 139, 0.8) !important;
}
/*.am-panel-default>.am-panel-hd{*/
/*    border-color: #ebeef5;*/
/*}*/
/*.am-panel-default .am-table-bordered{*/
/*    border: none;*/
/*}*/
/*.am-panel-default .am-table-bordered tr td:first-child{*/
/*    border-left: none;*/
/*}*/
/*状态进度标记开始*/
.console-step .step-pass {
    background-color: #99dcf3;
}
.console-step .step {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #FFF;
    z-index: 1;
    text-align: center;
}
.console-step .step-active {
    background-color: #00a0c7;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
.console-step .step:before {
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    z-index: 8;
    top: 0px;
    border-top: 12px solid #cacaca;
    border-left: 12px solid transparent !important;
    border-bottom: 12px solid #cacaca;
}
.console-step .step-pass:before {
    border-color: #99dcf3;
}
.console-step .step-active:before {
    border-color: #00a0c7;
}
.console-step .step-first:before {
    display: none;
}
.console-step .step:after {
    content: '';
    display: block;
    width: 16px;
    height: 24px;
    position: absolute;
    right: 0px;
    z-index: 9;
    top: 0px;
    border-top: 12px solid transparent !important;
    border-left: 12px solid #cacaca;
    border-bottom: 12px solid transparent !important;
    background-color: #FFF;
}
.console-step .step-pass:after {
    border-color: #99dcf3;
}
.console-step .step-active:after {
    border-color: #00a0c7;
}
.console-step .step-end:after {
    display: none;
}
/*状态标记结束*/

/*工单内容描述开始*/
.pt-info-panel{
    background-color: #f8f8f8;
}
.pt-text-border{
    border-bottom: 1px dashed #d6d6d6;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
.pt-text-border:last-child{
    border: 0px;
}
.pt-text-explode {
    color: #999 !important;
    margin-bottom: 0.5rem;
}
.pt-text-border p{
    margin: 0 0 0.3rem 0;
}
.pt-text-border ul{
    margin: 0 !important;
}
.pt-text-border li{
    padding: 0 0.5rem 0 0 !important;
}
.pt-text-border li:hover{
    background:none !important;
}
.pt-text-border a:hover{
    border-bottom: 1px solid;
}
/*工单内容描述结束*/

/*鼠标移动至li上的背景颜色*/
.am-list-hover li:hover{
    background: #f5f5f5;
}
/*鼠标移动至li上的背景颜色*/

/*扩展颜色*/
.am-text-gray{
    color: #999;
}
.am-text-gray-background{
    background-color: #FBFBEA !important;
}
/*扩展颜色*/

/*按钮*/
.am-btn-default{
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;
}
.am-btn-default:hover{
    border-color: #909399;
}
a.am-btn-white:visited{
    color: #444;
}
.am-btn-white {
    color: #444;
    background-color: #fff;
    border-color: #e6e6e6;
}
.am-btn-white:hover{
    background-color: #f2f2f2;
}
.am-btn-white.am-disabled, .am-btn-white[disabled]{
    background-color: #fff;
    border-color: #e6e6e6;
}
/*按钮*/

/*
===================
警告框超链接颜色修复
===================
*/
.am-alert-secondary a, .am-alert-postscript a{
    color: #0e90d2;
    border-bottom: 1px solid #0e90d2;
}
.am-alert-secondary .am-btn{
    color: #fff ;
}
.am-alert-postscript{
    color: #555;
    background-color: #FBFBEA;
    border: 1px dashed #bbbbbb;
}

.gold-badge{
    background-color: #FFEB3B !important;
    color: #E91E63 !important;
}
.pes-alert{
    width: 100%;
    padding: 8px 10px;
    margin: 1rem 0 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    opacity: 1;
    align-items: center;
    transition: opacity .2s;
}
.pes-alert [class*=am-icon-]{
    padding-right: 5px;;
}
.pes-alert-success {
    background-color: #f0f9eb;
    color: #67c23a;
}
.pes-alert-info{
    background-color: #f4f4f5;
    color: #909399;
}
.pes-alert-warning{
    background-color: #fdf6ec;
    color: #e6a23c;
}
.pes-alert-error{
    background-color: #fef0f0;
    color: #f56c6c;
}
.pes-alert-dark{
    background-color: #409eff;
    color: #fff;
}

/*tabs标签页*/
.pes-tabs{

}
.pes-tabs .am-nav-tabs{
    border-bottom: 2px solid #ddd;
}
.pes-tabs .am-nav-tabs a{
    color: #303133;
}
.pes-tabs .am-nav-tabs>li{
    margin-bottom: -2px;
}
.pes-tabs .am-nav-tabs>li.am-active>a{
    color: #409eff;
    padding-top: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #409eff;
}
.pes-tabs .am-nav-tabs>li a{
    padding-top: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ddd;
}
.pes-tabs .am-nav-tabs>li>a:hover, .pes-tabs .am-nav-tabs>li>a:focus{
    color: #409eff;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 6px;
}
.pes-tabs .am-tabs-bd{
    border: none;
}
/*tabs标签页*/

/*
===================
图标 导航、版块管理
展开收起、所属
===================
*/
.start_icon,
.away_icon,
.zero_icon,
.plus_icon,
.plus_end_icon{
    background:url(../i/icon_list.png) no-repeat;
    display:inline-block;
    vertical-align:middle;
}
.start_icon,
.away_icon,
.zero_icon,
.plus_none_icon{
    background: none !important;
    width:20px;
    height:20px;
    overflow:hidden;
    cursor:pointer;
}
.away_icon{
    background-position:0 -20px;
}
.zero_icon{
    background-position:-20px 0;
    cursor:default;
}
.plus_icon,
.plus_end_icon{
    width:40px;
    height:24px;
    background-position:0 -43px;
    margin-right:5px;
}
.plus_end_icon{
    background-position:0 -70px;
}
.plus_on_icon{
    background-position:0 -100px;
    cursor:default;
}
/*404*/
.page-404 {
    background: #fff;
    border: none;
    width: 200px;
    margin: 0 auto;
}
/*跳转提示页*/
.jump-page{
    position: relative;
    height: 80vh;
}
.jump-page>div{
    position: relative;
    top: 33%;
}
.jump-page h1{
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.jump-page h2{
    margin: 0 auto;
    font-size: 2.0rem;
    font-weight: 200;
    line-height: 5rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 2px 4px rgba(255,255,255,.5);
}

/*页脚*/
.my-footer {
    height: 6rem;
    color: #EFEFEF;
    background-color: #272b35;
    border-top: 1px solid #dcdcdc;
    padding: 10px 0;
    text-align: center;
}
.my-footer small{
    line-height: 4rem;
}