/*首页搜索*/
@media only screen and (max-width: 640px){
    .index-search .am-input-group{
        display: block !important;
    }
    .index-search .am-input-group-btn{
        padding-top: 2rem;
        text-align: center;
    }

}
/*面包屑*/
@media only screen and (max-width: 640px){
    .am-breadcrumb li{
        display: block;
        margin-bottom: 0.5rem;
    }
    .am-breadcrumb li:before{
        display: none;
    }
}


/*工单分类*/
.ticket-category{
    display: block;
    height: 110px;
    background-color: #f2f2f2;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    color: #333;
}
.ticket-list{
    height: auto !important;
}
.ticket-category:hover{
    color: #333;
    background-color: #e5e5e5;
}

.categort-breadcrumb .am-active a{
    color: #333;
}
.categort-breadcrumb .am-active .am-badge{
    background-color: #0e90d2;
}
.categort-breadcrumb a{
    color: #e5e5e5;
}
.categort-breadcrumb .am-badge{
    background-color: #e5e5e5;
}

/*登录界面*/
@media only screen and (min-width: 1025px) {
    .login-form{
        width: 430px;
    }
}
.login{
    min-height: 46rem;
    padding: 50px 0 10px 0;
}


.login-verify{
    width: 44% !important;
    display: inline-block !important;
}
.login-form .refresh-verify{
    width: 54% !important;
}