/*首页搜索*/
@media only screen and (max-width: 640px){
    .index-search .am-input-group{
        display: block !important;
    }
    .index-search .am-input-group-btn{
        padding-top: 2rem;
        text-align: center;
    }

}
/*面包屑*/
@media only screen and (max-width: 640px){
    .am-breadcrumb li{
        display: block;
        margin-bottom: 0.5rem;
    }
    .am-breadcrumb li:before{
        display: none;
    }
}

/*工单分类*/
.ticket-category{
    display: block;
    min-heightheight: 110px;
    background-color: #f2f2f2;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #333;
}
@media only screen and (min-width: 1025px) {
    .ticket-ul{
        display: flex;
        align-items: stretch;
    }
}

.ticket-list{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.ticket-list-active, .ticket-list-active:hover{
    background-color:#FFB800 !important;
}
.ticket-list-active, .ticket-list-active a,.ticket-list-active:hover, .ticket-list-active a:hover{
    color: #FFFFFF !important;
}
.ticket-category:hover{
    color: #333;
    background-color: #e5e5e5;
}

.categort-breadcrumb .am-active a{
    color: #333;
}
.categort-breadcrumb .am-active .am-badge{
    background-color: #0e90d2;
}
.categort-breadcrumb a{
    color: #e5e5e5;
}
.categort-breadcrumb .am-badge{
    background-color: #e5e5e5;
}

/*登录界面*/
@media only screen and (min-width: 1025px) {
    .login-form{
        width: 430px;
    }
}
.login{
    min-height: 46rem;
    padding: 10rem 0 10px 0;
}
.login .am-panel{
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
}
.login a{
    color: #ffffff;
}

.login-text-danger{
    margin: 1.3rem 0 0 0;
}


.login-verify{
    width: 44% !important;
    display: inline-block !important;
}
.login-form .refresh-verify{
    width: 54% !important;
    height: 38px;
    padding-top: 1px;
}

/*fqa问答指引*/
.ticket-fqa{
    /*border: 1px solid #ddd;*/
}
.ticket-fqa ul{
    list-style-type: none;
    padding-bottom: 0 !important;
    margin-top: 0;
}
.ticket-fqa ul, .fqa-list{
    border-top: 1px solid #ddd;
    padding: 1rem 1.5rem;
}

.fqa-list>li{
    margin: 0.5rem 0;
}
.fqa-list a{
    padding: 0.2rem 0;
    color: #333333;
    line-height: 20px;
}
.fqa-list a:hover{
    color: #e1e6eb;
    text-decoration: none;
}

/*页脚*/
.my-footer{
    color: #343434;
    height: auto;
    background-color: #fff;
    text-align: inherit;
    padding: 0;
}
.pescms-introduce{
    padding: 40px 0;
}
.my-footer h4{
    background-color: #32beff;
    background-image: linear-gradient(45deg,#19b1f0,#0b70d8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    color: #32beff!important;
    font-size: 22px;
    line-height: 1.455;
    font-family: Lato;
    font-weight: 300;
    text-transform: uppercase;
}
.my-footer ul{
    list-style: none;
    color: #6E7076;
    margin: 0;
    padding: 10px 0 0;
}
.my-footer ul li{
    padding: 0.5rem;
}
.my-footer ul li a{
    color: #343434;
}
.my-footer ul li a:hover{
    text-decoration: none;
    color: #32beff;
}
.copyright {
    color: #fff;
    background: #353536;
    font-size: 13px;
}