/*顶部页眉设置*/
#ticket-nav{
    background: linear-gradient(127deg, #19b1f0 0%, #003d7b 100%);
    margin-bottom: 0px;
}
#ticket-nav, #ticket-nav a, #ticket-nav .am-topbar-brand a:hover{
    color: #fff;
}

/*次级导航*/
.tool-container{
    -webkit-box-shadow: 0 2px 5px 0 rgba(30,30,30,.09);
    -moz-box-shadow: 0 2px 5px 0 rgba(30,30,30,.09);
    box-shadow: 0 2px 5px 0 rgba(30,30,30,.09);
    background: #fff;
}
@media only screen and (min-width: 1025px) {
    .tool-container ul:only-child>li>a{
        padding: 20px 10px;
    }
    .logo a{
        padding: 20px 20px !important;
    }
    .logo img{
        max-height: 50px !important;
    }
}
.tool-container ul li a{
    font-size: 1.5rem;
}
.logo a{
    display: block;
    padding: 0.8rem 1.0rem;
}
.logo img{
    max-height: 30px;
}

/*解决手机版内边距异常问题*/
@media only screen and (max-width: 1024px){
    #ticket-nav .am-u-sm-centered, .tool-container .am-u-sm-centered{
        padding: 0px !important;
    }
}

/*屏蔽链接下标和设置鼠标指针浮动*/
#ticket-nav .am-topbar-nav>li>a:hover, .tool-container .am-topbar-nav>li>a:hover{
    color: #32beff;
    background: transparent;
}
#ticket-nav .am-topbar-nav>li>a:hover:after, .tool-container .am-topbar-nav>li>a:hover:after{
    display: none;
}


/*首页搜索*/
@media only screen and (max-width: 640px){
    .index-search .am-input-group{
        display: block !important;
    }
    .index-search .am-input-group-btn{
        padding-top: 2rem;
        text-align: center;
    }

}

.index-logo{
    padding-top: 11.6rem;
}

/*面包屑*/
@media only screen and (max-width: 640px){
    .categort-breadcrumb li{
        display: block;
        margin-bottom: 0.5rem;
    }
    .categort-breadcrumb li:before{
        display: none;
    }
}

/*工单分类*/
.ticket-category{
    display: block;
    min-heightheight: 110px;
    background-color: #f2f2f2;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 4px;
    color: #333;
}
@media only screen and (min-width: 1025px) {
    .ticket-ul{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .ticket-ul li a{
        position: relative;
        height: 100%;
        overflow: hidden;
    }
}

.ticket-list{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.ticket-list-active, .ticket-list-active:hover{
    background-color:#FFB800 !important;
}
.ticket-list-active, .ticket-list-active a,.ticket-list-active:hover, .ticket-list-active a:hover{
    color: #FFFFFF !important;
}
.ticket-category:hover{
    color: #333;
    background-color: #e5e5e5;
}

.categort-breadcrumb .am-active a{
    color: #333;
}
.categort-breadcrumb .am-active .am-badge{
    background-color: #0e90d2;
}
.categort-breadcrumb a{
    color: #e5e5e5;
}
.categort-breadcrumb .am-badge{
    background-color: #e5e5e5;
}

/*登录界面*/
@media only screen and (min-width: 1025px) {
    .login-form{
        /*width: 430px;*/
    }
}
.login{
    min-height: 46rem;
    padding: 10rem 0 10px 0;
}
.login h2{
    background-color: #32beff;
    background-image: linear-gradient(45deg,#19b1f0,#0b70d8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #32beff!important;
    font-family: Lato;
    font-weight: 300;
    text-transform: uppercase;
}
.login .am-panel{

}
.login a{

}

.login-text-danger{
    margin: 1.3rem 0 0 0;
}
#login-enterplorer .am-input-group-label{
    border-radius: 4px 0 0 4px;
}
#login-enterplorer input{
    border-radius: 0 4px 4px 0px;
}


.login-verify{
    width: 44% !important;
    display: inline-block !important;
}
.login-form .refresh-verify{
    width: 54% !important;
    height: 38px;
    padding-top: 1px;
}

/*fqa问答指引*/
.ticket-fqa{
    /*border: 1px solid #ddd;*/
}
.ticket-fqa ul{
    list-style-type: none;
    padding-bottom: 0 !important;
    margin-top: 0;
}
.ticket-fqa ul, .fqa-list{
    border-top: 1px solid #ddd;
    padding: 1rem 1.5rem;
}

.fqa-list>li{
    margin: 0.5rem 0;
}
.fqa-list a{
    padding: 0.2rem 0;
    color: #333333;
    line-height: 20px;
}
.fqa-list a:hover{
    color: #e1e6eb;
    text-decoration: none;
}

/*FQA列表*/
.fqa-search{
    margin: 2rem auto 5rem auto;
}
.fqa-item h2{
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}
.fqa-item h3{
    margin: 1.5rem 0;
    /*color: #b9b9b9;*/
}

.fqa-ul{
    list-style-type: none;
    margin: 0.5rem 0 1.6rem 0;
}
.fqa-ul li{
    margin: 0.5rem 0;
}

/*页脚*/
.my-footer{
    color: #343434;
    height: auto;
    background-color: #fff;
    text-align: inherit;
    padding: 0;
}
.pescms-introduce{
    padding: 40px 0;
}
.my-footer h4{
    margin: 20px 0 0 0;
    background-color: #32beff;
    background-image: linear-gradient(45deg,#19b1f0,#0b70d8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    color: #32beff!important;
    font-size: 22px;
    line-height: 1.455;
    font-family: Lato;
    font-weight: 300;
    text-transform: uppercase;
}
.my-footer ul{
    list-style: none;
    color: #6E7076;
    margin: 0;
    padding: 10px 0 0;
}
.my-footer ul li{
    padding: 0.5rem;
}
.my-footer ul li a{
    color: #343434;
}
.my-footer ul li a:hover{
    text-decoration: none;
    color: #32beff;
}
.copyright {
    color: #fff;
    background: #353536;
    font-size: 13px;
}