.webuploader-container {
    position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-container{
    display: block;
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}
.am-webuploader-ul li{
    width: 12rem !important;
}

.webuploader-item img, .file-preview-other, .file-preview-other-text, .webuploader-item h3, .webuploader-pick{
    width: 10rem !important;
}
.webuploader-item .am-gallery-title{
    font-size: 1.2rem;
    text-indent: 0px;
    left: 0px;
    width: 10.4rem !important;
}
.webuploader-item img, .webuploader-pick {
    height: 10rem !important;
}
.webuploader-pick{
    /*background: url('../i/image.png') no-repeat -1.0rem -0.3rem;*/
    /*background-size: cover; -moz-background-size: cover;*/
}
.webuploader-background-img:hover{
    border: 1px solid #868585;
}
.webuploader-pick:before{
    width: 2px;
    height: 4rem;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #d9d9d9;
}
.webuploader-pick:after{
    width: 4rem;
    height: 2px;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #d9d9d9;
}
.file-preview-other{
    height: 8.38rem !important;
}
.file-preview-other{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

