/*消息提示小红点*/
.msg-tips {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f65645;
  border-radius: 5px;
  left: 28px;
  top: 13px;
  position: absolute;

  @media only screen and (max-width: 640px) {
    width: 5pt;
    height: 5pt;
    top: 7px;
  }

}

@media only screen and (max-width: 640px) {

  .ticket-search-form .am-selected {
    margin-bottom: 10px;
  }

  .ticket-member-table-dropdown .am-dropdown-content {
    left: 0 !important;
    right: auto !important;

  }

  .ticket-member-table {
    width: 31vh;
  }
}


@media only screen and (min-width: 641px) {
  #mobile-new-tips {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {

  .ticket-index-table tr td:last-child {
    width: 10rem;
  }

  .ticket-remark-input {
    min-width: 30rem;
  }

  .ticket-member-table {
    width: 75vh;
  }
}

.admin-task-meta {
  color: #888888;
}

.admin-task-bd, .ticket-operation-bd {
  /*font-size: 1.6rem;*/
  margin-top: 0.5rem;
}

.admin-task-bd a {
  color: #333;
}

.ticket-operation-bd a {
  color: #06c;
}

.admin-task-bd a:hover {
  color: #a9a9a9;
}

#setting-panel .am-tabs-bd {
  border: none !important;
}

/*工单超时*/
.ticket-timeout, .ticket-timeout a {
  font-weight: bold;
  color: #FF4500;
}

/*短信设置样式*/
.sms-1, .sms-2 {
  display: none;
}

.pes-ucheck {
  padding-left: 22px !important;
  position: relative !important;;
  -webkit-transition: color .25s linear !important;;
  transition: color .25s linear !important;;
  font-size: 14px !important;;
  line-height: 1.5 !important;;
}

@media only screen and (min-width: 1025px) {
  .pes-ticket-search-input {
    width: 250px !important;
  }
}

.assign-user select option:disabled {
  color: #ccc;
}

.ticket_model_table {
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: 0 2px 30px rgb(0 0 0 / 22%), 0 2px 5px rgb(0 0 0 / 10%);;
  }


  tbody:hover td[rowspan],
  tr:hover td {
    background: #f5f7fa;
  }

  .ticket_model_base {
    width: 40%;

    div {
      border-bottom: 1px solid #eee;
      padding: 5px 0;

      &:last-child {
        border-bottom: none;
      }
    }


  }

  .ticket_model_setting {

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding: 5px 0;

      &:last-child {
        border-bottom: none;
      }
    }


  }

  .ticket_model_operate {
    width: 10%;

    div {
      margin: 2px 0;
    }

  }

}


.ticket-list-table {
  > tbody > tr:nth-child(odd) > td {
    background: rgba(217, 226, 239, 0.3) !important;
  }

  tr {
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 2px 30px rgb(0 0 0 / 22%), 0 2px 5px rgb(0 0 0 / 10%) !important;

    }

  }
}

.pes-chat-delete {
  text-decoration: line-through;
  color: #ff5757;
}

.tips-manual {

  a {
    &:focus {
      outline: none;
    }
  }

  .desc {
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .document {
    padding: 10px 0;
    display: flex;
    gap: 10px;

    .fqa {
      flex: 1;

      ol {
        li {
          padding: 5px 0;
        }
      }
    }

    .miniprogram {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;

      border-left: 1px solid #f0f0f0;

      img {
        border: 1px solid #f0f0f0;
        border-radius: 6px;
        padding: 2px;
        width: 150px;
        height: 150px;
      }

      small {
        padding-top: 5px;
      }
    }
  }

  .ad {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
  }
}

.fqa-dialog {
  background-color: #fde047 !important;

  h3 {
    font-size: 22px;
  }

  ol {
    li {
      padding: 5px;

      a {
        color: #000 !important;

        &:hover {
          color: #595959 !important;
        }
      }
    }
  }
}

.fqa-doc {
  .doc-transfer {
    display: flex;
    gap: 10px;
    height: 50vh;

    .doc-transfer-panel {
      flex: 1;
      border: 1px solid #f0f0f0;
      overflow: auto;

      .doc-transfer-title {
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
        border-bottom: 1px solid #f0f0f0;
        z-index: 99;
      }

      .doc-transfer-title, .doc-path, .doc-path-list {
        padding: 10px;
      }

      .doc-path {


        ul {
          list-style: none;
          margin: 0;

          &:first-child {
            padding-left: 0;
          }

          li {
            padding: 5px 0;

            label {
              margin: 0;
              font-weight: normal;
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 16px;

              input {
                margin: 0;
                height: 16px;
              }
            }
          }
        }
      }

      .doc-path-list {
        .selected-doc {
          padding: 5px 0;
          cursor: pointer;

          &:hover {
            color: #a6a6a6;
          }
        }
      }

    }

  }

}


@import "common";